<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408609303203-cubgk2drckjvmlgq8f2n0efk5drlaqa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408609303203-cubgk2drckjvmlgq8f2n0efk5drlaqa6</string>
	<key>API_KEY</key>
	<string>AIzaSyDCCZcEwwXjz4MP4mismPBp7AZGkmkQ6Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>408609303203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.react.otplogin</string>
	<key>PROJECT_ID</key>
	<string>otplogin-f8fa9</string>
	<key>STORAGE_BUCKET</key>
	<string>otplogin-f8fa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408609303203:ios:07a4e4b0f1b09af9</string>
	<key>DATABASE_URL</key>
	<string>https://otplogin-f8fa9.firebaseio.com</string>
</dict>
</plist>